<div class="contact container">
    <div class="row p-4">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center">I'm here to help.</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 pt-4">
                    <h4 class="text-center"> I’m currently available for freelance work.</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 pt-4">
                    <p>Interested in working together or just fancy saying hey, we should queue up a chat. I’ll buy the coffee.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 pt-4 text-center">
                    <a href="mailto:romandevop@gmail.com"><button class="btn btn-lg text-white"> Message Me      <i class="fa fa-envelope"></i></button></a>
                </div>
                <div class="col-lg-6 pt-4 text-center">
                    <a href="/signup"><button class="btn btn-lg text-white"> Subscribe to my Newletter!      <i class="fa fa-envelope"></i></button></a>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
  <div class="footer container-fluid p-4">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
           <div class="row text-center p-3 mb-4">
            <div class="col-lg-4">
                <a href=""><span>Dribble</span></a>
            </div>
            <div class="col-lg-4">
                <a href="https://twitter.com/Romanprograms"><span>Twitter</span></a>
            </div>
            <div class="col-lg-4">
                <a href="mailto:romandevop@gmail.com"><span>Hire Me</span></a>
            </div>
           </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <p class="text-center" style="font-size: .9em;"> &copy; 2020 Roman Abad. All rights reserved. </p>
        </div>
        <div class="col-lg-4">
            
        </div>
    </div>

</div>

</body>
</html>